body{
    margin: 20px;
    background-color: beige;
}
.head__principal{
    background-color: beige;
}
.presentacion{
    display: flex;
    background-color: beige;
}
.header__imagen{
    width: 40px;
    height: 40px;
    margin: 20px;
}
